fastapi==0.120.3
passlib==1.7.4
pydantic==2.12.4
PyJWT==2.10.1
pyparsing==3.2.5
python-dotenv==1.2.1
SQLAlchemy==2.0.44
sqlmodel==0.0.27
alembic==1.17.1           
python-multipart==0.0.20
email-validator==2.3.0
python-jose[cryptography]==3.3.0
opencv-python-headless==4.10.0.84 
wheel==0.45.1
onnxruntime==1.19.2
numpy==2.2.6
albumentations==2.0.8
insightface==0.7.3
websockets==15.0.1
bcrypt==4.0.1
uvicorn==0.38.0 
fastapi-cli==0.0.14 
fastapi[standard]